# macOS
.DS_Store

# VS Code
.vscode/

# Python virtual environment
ragvenv/

# Project data artifacts
data/pdf/
data/vector_store/
faiss_store/

# Python cache/build artifacts
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Local environment files
.env
.env.*